services:
  db:
    image: postgres:latest
    ports:
      - "5432:5432"

    environment:
      - POSTGRES_PASSWORD=bierchitekt
      - POSTGRES_USER=bierchitekt
      - POSTGRES_DB=concerts

    volumes:
      - ~/apps/postgres:/var/lib/postgresql/18/docker
    restart: unless-stopped
