services:
  postgres:
    image: postgres:latest
    ports:
      - 5432:5432
    volumes:
      - ~/apps/postgres:/var/lib/postgresql/18/docker
    environment:
      - POSTGRES_PASSWORD=bierchitekt
      - POSTGRES_USER=bierchitekt
      - POSTGRES_DB=concerts
